<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>api_base_url</key>
		<string>https://api.themoviedb.org/3</string>
		<key>api_key</key>
		<string>beeca727ee7b9d630f8199f35342b747</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>api_base_url</key>
		<string>https://api.themoviedb.org/3</string>
		<key>api_key</key>
		<string>beeca727ee7b9d630f8199f35342b747</string>
	</dict>
</dict>
</plist>
